
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.App {
  text-align: center;
 }

main {
  background: rgb(86,118,247);
  background: linear-gradient(110deg, rgba(86,118,247,1) 24%, rgba(10,69,149,1) 100%); 
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px+2vmin);
  color: white;
}

*{
  font-family: 'Raleway', sans-serif;
  color:black;
}

img {
  display: block;
  max-width:100%;
  max-height:105px;
  width: auto;
  height: auto;
}
.borde{
  border:3px dotted black;
}
.centrado{
  text-align: center;
}

.caja{
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  width: auto;
  border-radius: 20px;
  box-shadow: 35px 25px 10px 5px rgba(0, 0, 0, 0.5);
  display:inline-flex;
  flex-flow: column;
}

.cajatamanio{
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  height: 50em;
  width: 50em;
  border-radius: 20px;
  box-shadow: 35px 25px 10px 5px rgba(0, 0, 0, 0.5);
  display:inline-flex;
  flex-flow: column;
}
h3{
  padding:3px;
}
.ingre{
  display:inline-flex;
}
.ingresoDatos{
  display:inline-flex;
  flex-wrap:wrap;
}

.cajaMuestra{
  background: rgba(0, 0, 0, 0.4);
  width: auto;
  display:block;
  overflow-y: auto;
}

.limitador{
  height: 50%;
}

.boton{
  background-color: #5676f7;
  color: white;
  margin: auto;
  border: none;
  cursor: pointer;
  max-width:100%;
  padding:3px;
}
.botonGrande{
  background-color: #5676f7;
  display:block;
  color:white;
  border:none;
  cursor:pointer;
  margin:10px;
  height:3em;
}

label{
  display: inline-flex;
  justify-content: center;
}

.logo-container{
  justify-content: center;
  text-align: center;
}

.Formulario {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grilla{
    display: grid;
    margin: 5% 25% 5% 25%; 
}

.grilla p{
    text-align: left;
    margin: 0%;
}

.iPersona, .iPassword{
    background-color: #5676f7;
    padding: 1%;
}

.iconoFondo{
  border-radius:20px;
}

input:hover{
    opacity: 80%;
    box-shadow: 1px 1px;
}

.for{
  display: inline-flex
}

label{
  display: inline-flex;
  justify-content: center;
}

input[type="text"],input[type="password"]{
  width: 80%;
  padding: 12px 20px; 
  background-color: #ccc;
  justify-content: center;
  border: 1px solid #ccc;
}

.inputChico{
  width: 32% !important;
  padding: 12px 20px; 
  background-color: #ccc;
  justify-content: center;
  border: 1px solid #ccc;
}

.items{
  display:inline-flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.item{
  display:flex;
  flex-flow:column;
  justify-content: center;
}

.tituloLogoPerfil{
  display: inline-flex;
}

li>div{
  background-color:white;
  border-radius:2px;
  max-width:80%;
  padding:10px;
  border:10px solid #5676f7;
}

ul>li{
  padding:3px;
}

ul{
  list-style-type: none;
}

li >div >div>div{
  display:inline-flex;
  flex-wrap: wrap;
}

li> div> div> div> img{
  max-height: 250px !important;
}

li > div > button {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

li>div>button:hover {
  background-color: #ccc;
}


li>div>div>div {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}